.taskApp {
  /* Sample */
  /* border: 1px solid red; */
  width: 400px;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #fff;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 0rem 0rem 1rem ;
}
